services:
  cloudflare-updater:
    image: hub.rubyon.co.kr/cloudflare_dns_updater
    container_name: cloudflare-dns-updater
    restart: always
    environment:
      TZ: "Asia/Seoul"
      CLOUDFLARE_API_TOKEN: "YOUR_API_TOKEN"
      CLOUDFLARE_ZONE_ID: "YOUR_ZONE_ID"
      CLOUDFLARE_DOMAINS: "a.example.com b.example.com"
      CHECK_INTERVAL_S: "10"
